@color_hover : #fff568;
@color_row : #fff568;
@color_nen: #272939;
@color_chu: #272939;
.type-1410{
    background: @color_nen;
    line-height: 24px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 30px 0;
    color: #777777;
    ul{
        list-style: none;
    }
    .main-nav-list a:hover{
        color: @color_hover;
    }
    a {
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }
    .sidebar-categories .head {
        line-height: 60px;
        background: @color_row;
        padding: 0 30px;
        font-size: 20px;
        font-weight: 400;
        color: @color_chu;
    }
    .sidebar-categories .main-categories {
        padding: 0 20px;
        background: #fff;
        box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1);
    }
    .sidebar-filter {
        margin-top: 30px;
    }
    .sidebar-categories .main-categories {
        padding: 0 20px;
        background: #fff;
        box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1);
    }
    .main-categories a {
        color: #000;
    }
    .sidebar-categories .main-nav-list a {
        font-size: 14px;
        display: block;
        line-height: 50px;
        padding-left: 10px;
        border-bottom: 1px solid #eee;
    }
    .sidebar-categories .main-nav-list a .lnr {
        margin-right: 10px;
        display: none;
    }
   
    .sidebar-filter .common-filter {
        border-bottom: 1px solid #eee;
        padding-bottom: 25px;
        background: #fff;
    }
    .sidebar-filter .head {
        line-height: 60px;
        background: @color_row;
        padding: 0 30px;
        font-size: 20px;
        font-weight: 400;
        color: @color_chu;
    }
    .price-range-area {
        padding: 30px 30px 0 30px;
    }
    .price-range-area .noUi-horizontal {
        height: 6px;
    }
    .price-range-area .noUi-target {
        background: #eee;
        border-radius: 0px;
        border: 0px;
        box-shadow: none;
    }
    .noUi-handle:before {
        display: none;
    }
    .noUi-handle::after {
        display: none;
    }
    .price span{
        padding: 0 5px;
    }
    
    .price-range-area .noUi-connect {
        background: #eee;
        border-radius: 0px;
        box-shadow: none;
    }
    .price-range-area .noUi-horizontal .noUi-handle {
        width: 16px;
        height: 16px;
        left: -8px;
        top: -5px;
        border-radius: 50%;
        border: 0px;
        background: @color_row;
        box-shadow: none;
        cursor: pointer;
        -webkit-transition: ease 0.1s;
        -moz-transition: ease 0.1s;
        -o-transition: ease 0.1s;
        transition: ease 0.1s;
    }
    .price-range-area .noUi-horizontal .noUi-handle:hover {
        border: 3px solid @color_row;
        background: #fff;
    }
    .price-range-area .value-wrapper {
        margin-top: 20px;
        color: #cccccc;
    }
    .price-range-area .price {
        margin-right: 5px;
        color: @color_chu;
    }
    .price-range-area .value-wrapper .to {
        margin: 0 5px;
    }
    .filter-bar {
        padding: 0px 20px 10px 20px;
        background: #828bb3;
    }
    .sorting {
        margin-top: 10px;
        margin-right: 10px;
    }
    .sorting .nice-select {
        border-radius: 0px;
        border: 1px solid #eee;
        padding-right: 50px;
    }
    .single-product {
        margin-bottom: 30px;
    }
    .single-product .img-fluid{
        
        width: 100%;
    }
    .product-details{
        height: 140px;
    }
    .single-product .product-details .price h6 {
        display: inline-block;
        padding-right: 15px;
        margin: 0;
    }
    .single-product .product-details h6 {
        font-size: 16px;
        text-transform: uppercase;
        color: @color_chu;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    a.price{
        margin: 12px 0 0 5px;
        font-family: 'MontserratRegular';
        text-transform: uppercase;
        font-weight: bold;
        color: #272939;
        font-size: 21px;
    }
    a.tui{
        background: url('../images/bg-button-cart.png');
        width: 50px;
        height: 50px;
       
    }
    a.tim{
        background: url('../images/icon-wishlist.png');
        width: 50px;
        height: 50px;
    }
    .product-details span{
        margin-right: 25px;
        float: left;
    }
    .product-details a{
        display: inline-block;
    }
    .product-details{
        padding: 10px;
        background: @color_row;
    }
    .product-details h6:hover{
        color:#fff;
    }
    .primary-btn {
        background: #ffba00;
        color: #fff;
        margin-top: 20px;
        border: none;
        border-radius: 0;
        padding: 10px 15px;
    }
    .primary-btn:hover {
        background: @color_nen;
    }
    .noUi-handle:focus{
        outline: none;
    }
}