* {
    outline: none !important;
}
.type-1406{
  .mb-view{
    display: none;
  }
  .pdtype{
    padding: 40px 0;
  }
  .viewblog{
    position: relative;
  }
  .title{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4em;
    color: black;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .viewblog::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    border-left: 1px solid black;
  }
  .caption {
    border-radius: 15px;
    padding: 15px;
    position: absolute;
    clear: both;
    float: left;
    width: 35%;
  }
  .caption2 {
    border-radius: 15px;
    padding: 15px;
    position: relative;
    clear: both;
    width: 35%;
    float: right;
  }
  .entry-time{
    color: rgb(137, 137, 140);
    font-weight: bold;
  }
  .caption img{
    padding-bottom: 20px;
  }
  .caption2 img{
    padding-top: 20px;
  }
  .container .title-home{
    float: none;
    text-align: center;
    font-size: 5vw;
    position: relative;
    text-transform: uppercase;
    line-height: 45px;
    color: #272939;
    padding-bottom: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .title-home span{
    font-family: sans-serif;
    font-weight: bold;
  }
  .item-content-wrap{
    padding: 20px 0;
  }
  .item-content-wrap a{
    font-size: 2vw;
    color: black;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.2;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-transform: uppercase;
    line-height: none !important;
    text-overflow: ellipsis;
  }
  .item-content-wrap a:hover{
    color:#fd907a;
  }
  .comments a{
    text-decoration: none;
  }
  .comments a:hover{
    color:#fd907a;
  }
  .l_comments a:hover{
    color:#fd907a;
  }
  .item-content p{
    line-height: 2;
    font-size: 13px;
    color:rgb(130, 130, 156);
    margin: 0;
    padding-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    
  }
  .comments{
    padding-left: 10px;
    font-weight: bold;
    font-size: 1vw;
  }
  .view-all-blog{
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1vw;
  }
  .l_comments{
    float: right;
  }
  .caption::before {
    content: '';
    width: 25%;
    position: absolute;
    top: 25%;
    border-top: 1px solid black;
    right: -43%; 
    
}
.caption2::before {
  content: '';
  width: 25%;
  position: absolute;
  bottom: 25%;
  border-top: 1px solid black;
  left: -43%; 
  
}
.caption::after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: calc(~"25% - 10px");
  right: calc(~"-43% - 10px");
  background: black;
}
.caption2::after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: calc(~"25% - 10px");
  left: calc(~"-43% - 10px");
  background: black;
}
  @media (max-width: 480px){
    .pc-view{
      display: none;
    }
    .mb-view{
      display: block;
    }
    .title{
      font-size: 3em;
      padding-bottom: 10px;
    }
    .captionmb img{
      padding: 20px 0;
    }
    .item-content-wrap a{
      font-size: 1.5em;
    }
    .comments{
      font-size: 13px;
    }
    .view-all-blog{
      font-size: 13px;
    }

  }
    
}