.type-884 {
  margin-top: -47px;
  position: relative;
  margin-bottom: -95px;
  padding: 95px 0 83px;
  background: #fafafb;
}
.type-884 .page_heading span {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  color: #5a5a5a;
  font-family: Raleway;
}
.type-884 .page_heading {
  margin: 0;
  text-align: center;
  font-size: 24px;
}
.type-884 .page_heading h2 {
  margin: 11px 0;
  font: 24px Raleway;
  color: #343434;
  line-height: 1.25em;
}
.type-884 .img-fluid {
  margin-bottom: 20px;
  width: 100%;
}
.type-884 .blog_post {
  margin-top: 38px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.type-884 .blog_post .blog_post__info .blog_content {
  font-size: 1.2em;
}
.type-884 .blog_post+.blog_post {
  margin-top: 40px;
}
.type-884 .article_img {
  overflow: hidden;
}
.type-884 .blog_post__info {
  margin-left: 15px;
}
.type-884 .imgdiv {
  display: contents;
}
.type-884 .article_img img:hover {
  opacity: 0.5;
}
.type-884 .blog_title {
  margin-top: 0;
  margin-bottom: 14px;
}
.type-884 .blog_title a {
  line-height: 1.25em;
  color: #343434;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.type-884 .blog_content {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.type-884 .blog_title a:hover {
  color: #fd907a;
}
.type-884 .video_wr {
  margin-top: 42px;
  max-width: 100%;
}
.type-884 .video_wr iframe {
  width: 100%;
  height: 300px;
}
.type-884 .video_wr figcaption {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .type-884 .blog_post {
    display: block;
    margin-top: 16px;
  }
  .type-884 .article_img {
    min-width: 100%;
    max-height: 100%;
    float: left;
    margin: 0 0px 10px 0;
  }
  .type-884 .blog_title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 14px;
  }
}
@media (max-width: 767px) {
  .type-884 .article_img {
    max-height: 100%;
    max-width: 100%;
  }
  .type-884 .blog_post__info {
    margin-left: 0px;
  }
  .type-884 .blog_title a {
    display: inline-block;
  }
  .type-884 .blog_content {
    display: block;
  }
  .type-884 .video_wr {
    width: 100%;
    text-align: center;
  }
}
