.type-1410 {
  background: #272939;
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 30px 0;
  color: #777777;
}
.type-1410 ul {
  list-style: none;
}
.type-1410 .main-nav-list a:hover {
  color: #fff568;
}
.type-1410 a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.type-1410 .sidebar-categories .head {
  line-height: 60px;
  background: #fff568;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 400;
  color: #272939;
}
.type-1410 .sidebar-categories .main-categories {
  padding: 0 20px;
  background: #fff;
  box-shadow: 0 10px 10px rgba(153,153,153,0.1);
}
.type-1410 .sidebar-filter {
  margin-top: 30px;
}
.type-1410 .sidebar-categories .main-categories {
  padding: 0 20px;
  background: #fff;
  box-shadow: 0 10px 10px rgba(153,153,153,0.1);
}
.type-1410 .main-categories a {
  color: #000;
}
.type-1410 .sidebar-categories .main-nav-list a {
  font-size: 14px;
  display: block;
  line-height: 50px;
  padding-left: 10px;
  border-bottom: 1px solid #eee;
}
.type-1410 .sidebar-categories .main-nav-list a .lnr {
  margin-right: 10px;
  display: none;
}
.type-1410 .sidebar-filter .common-filter {
  border-bottom: 1px solid #eee;
  padding-bottom: 25px;
  background: #fff;
}
.type-1410 .sidebar-filter .head {
  line-height: 60px;
  background: #fff568;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 400;
  color: #272939;
}
.type-1410 .price-range-area {
  padding: 30px 30px 0 30px;
}
.type-1410 .price-range-area .noUi-horizontal {
  height: 6px;
}
.type-1410 .price-range-area .noUi-target {
  background: #eee;
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
}
.type-1410 .noUi-handle:before {
  display: none;
}
.type-1410 .noUi-handle::after {
  display: none;
}
.type-1410 .price span {
  padding: 0 5px;
}
.type-1410 .price-range-area .noUi-connect {
  background: #eee;
  border-radius: 0px;
  box-shadow: none;
}
.type-1410 .price-range-area .noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  left: -8px;
  top: -5px;
  border-radius: 50%;
  border: 0px;
  background: #fff568;
  box-shadow: none;
  cursor: pointer;
  -webkit-transition: ease 0.1s;
  -moz-transition: ease 0.1s;
  -o-transition: ease 0.1s;
  transition: ease 0.1s;
}
.type-1410 .price-range-area .noUi-horizontal .noUi-handle:hover {
  border: 3px solid #fff568;
  background: #fff;
}
.type-1410 .price-range-area .value-wrapper {
  margin-top: 20px;
  color: #cccccc;
}
.type-1410 .price-range-area .price {
  margin-right: 5px;
  color: #272939;
}
.type-1410 .price-range-area .value-wrapper .to {
  margin: 0 5px;
}
.type-1410 .filter-bar {
  padding: 0px 20px 10px 20px;
  background: #828bb3;
}
.type-1410 .sorting {
  margin-top: 10px;
  margin-right: 10px;
}
.type-1410 .sorting .nice-select {
  border-radius: 0px;
  border: 1px solid #eee;
  padding-right: 50px;
}
.type-1410 .single-product {
  margin-bottom: 30px;
}
.type-1410 .single-product .img-fluid {
  width: 100%;
}
.type-1410 .product-details {
  height: 140px;
}
.type-1410 .single-product .product-details .price h6 {
  display: inline-block;
  padding-right: 15px;
  margin: 0;
}
.type-1410 .single-product .product-details h6 {
  font-size: 16px;
  text-transform: uppercase;
  color: #272939;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.type-1410 a.price {
  margin: 12px 0 0 5px;
  font-family: 'MontserratRegular';
  text-transform: uppercase;
  font-weight: bold;
  color: #272939;
  font-size: 21px;
}
.type-1410 a.tui {
  background: url('../images/bg-button-cart.png');
  width: 50px;
  height: 50px;
}
.type-1410 a.tim {
  background: url('../images/icon-wishlist.png');
  width: 50px;
  height: 50px;
}
.type-1410 .product-details span {
  margin-right: 25px;
  float: left;
}
.type-1410 .product-details a {
  display: inline-block;
}
.type-1410 .product-details {
  padding: 10px;
  background: #fff568;
}
.type-1410 .product-details h6:hover {
  color: #fff;
}
.type-1410 .primary-btn {
  background: #ffba00;
  color: #fff;
  margin-top: 20px;
  border: none;
  border-radius: 0;
  padding: 10px 15px;
}
.type-1410 .primary-btn:hover {
  background: #272939;
}
.type-1410 .noUi-handle:focus {
  outline: none;
}
