* {
  outline: none !important;
}
.type-1406 .mb-view {
  display: none;
}
.type-1406 .pdtype {
  padding: 40px 0;
}
.type-1406 .viewblog {
  position: relative;
}
.type-1406 .title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 4em;
  color: black;
  text-align: center;
  margin: 0;
  padding-bottom: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.type-1406 .viewblog::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  border-left: 1px solid black;
}
.type-1406 .caption {
  border-radius: 15px;
  padding: 15px;
  position: absolute;
  clear: both;
  float: left;
  width: 35%;
}
.type-1406 .caption2 {
  border-radius: 15px;
  padding: 15px;
  position: relative;
  clear: both;
  width: 35%;
  float: right;
}
.type-1406 .entry-time {
  color: #89898c;
  font-weight: bold;
}
.type-1406 .caption img {
  padding-bottom: 20px;
}
.type-1406 .caption2 img {
  padding-top: 20px;
}
.type-1406 .container .title-home {
  float: none;
  text-align: center;
  font-size: 5vw;
  position: relative;
  text-transform: uppercase;
  line-height: 45px;
  color: #272939;
  padding-bottom: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.type-1406 .title-home span {
  font-family: sans-serif;
  font-weight: bold;
}
.type-1406 .item-content-wrap {
  padding: 20px 0;
}
.type-1406 .item-content-wrap a {
  font-size: 2vw;
  color: black;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.2;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-transform: uppercase;
  line-height: none !important;
  text-overflow: ellipsis;
}
.type-1406 .item-content p {
  line-height: 2;
  font-size: 13px;
  color: #82829c;
  margin: 0;
  padding-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.type-1406 .comments {
  padding-left: 10px;
  font-weight: bold;
  font-size: 1vw;
}
.type-1406 .view-all-blog {
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1vw;
}
.type-1406 .l_comments {
  float: right;
}
.type-1406 .caption::before {
  content: '';
  width: 25%;
  position: absolute;
  top: 25%;
  border-top: 1px solid black;
  right: -43%;
}
.type-1406 .caption2::before {
  content: '';
  width: 25%;
  position: absolute;
  bottom: 25%;
  border-top: 1px solid black;
  left: -43%;
}
.type-1406 .caption::after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: calc(25% - 10px);
  right: calc(-43% - 10px);
  background: black;
}
.type-1406 .caption2::after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: calc(25% - 10px);
  left: calc(-43% - 10px);
  background: black;
}
@media (max-width: 480px) {
  .type-1406 .pc-view {
    display: none;
  }
  .type-1406 .mb-view {
    display: block;
  }
  .type-1406 .title {
    font-size: 3em;
    padding-bottom: 10px;
  }
  .type-1406 .captionmb img {
    padding: 20px 0;
  }
  .type-1406 .item-content-wrap a {
    font-size: 1.5em;
  }
  .type-1406 .comments {
    font-size: 13px;
  }
  .type-1406 .view-all-blog {
    font-size: 13px;
  }
}
