.banner{
    position: relative;

    h3{
        font-family: Montserrat;
        font-size: 56.9109px;
        color: white;
    }
    h2{
        font-family: Montserrat;
        font-size: 25.2938px;
        color: white;
    }
    .set{
        text-align: center;
        float: right;
        height:700px;
    }
    .button{
        padding-top: 37px;
        :first-child{
            background: #e4985b;
            border: 2px solid #e4985b;
            color: #fff;
            padding: 14px 36px;
            font-family: Montserrat;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
        }
        :last-child{
            background: #0a0a0a;
            border: 2px solid #0a0a0a;
            color: #fff;
            padding: 14px 36px;
            font-family: Montserrat;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            margin-left: 20px;
        }
    }
    #slide-0 { 
        background: url("../images/1.jpg") no-repeat center center ; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
    }
    #slide-1 {
         background: url("../images/5.jpg") no-repeat center center; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
    }
    @media (max-width: 480px){
        .button a{
            font-size: 10px !important;
        }
    }
}
